{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
         My name is Duke Thai. I am a software developer and a tech enthusiast. 
         I love building web applications and exploring new technologies. 
         This blog is the place where I share my thoughts, experiences, and document 
         on various topics related to software development and technology.
        </p>
        <p>
         When I'm not coding, I enjoy reading tech blogs, contributing to open-source projects, 
         and experimenting with new programming languages and frameworks. 
         I believe in continuous learning and growth, and I hope to inspire others 
         through my writing.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
